body{
    background-color: black;
}

#container{
display: grid;
grid-template-columns: 20vw 80vw;
grid-template-rows: 100vh;
max-width: 80vw;
max-height: 90vh;
margin-top: 3vh; 
margin-bottom: 3vh;


}
#sidebar{
    background-color: #0096FF;
    margin-left: 5vw;
    margin-bottom: 3vh;
}

#main{
display: grid;
grid-template-columns: 75vw;
grid-template-rows: 20vh 80vh;

/* border:1px solid brown ; */
margin-right: 5vw;
margin-bottom: 3vh;
}

#header{
 background-color: white;
 margin-right: 5vw;
 border: 1px solid white;
 display: grid;
 grid-template-columns: auto auto;
 grid-template-rows: auto auto;
 
}

#body{
 background-color: burlywood;
 margin-right: 5vw;
 margin-bottom: 3vh;
 

}
#dashboardContainer{
    margin-left: 2vw;
}
 .dasboardItems{
    display: grid;
    grid-template-columns: 3vw auto; 
    /* gap: 1vw; */
    grid-row: auto;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
} 

#dashboard{
    margin-top: 2vh;
}

img{
    width: 2vw;
    
}
 #home{
    margin-top: 2vh;
 }
 #settings{
    margin-top: 2vh;
 }
 h4{
    position: relative;
    bottom: 2vh;
 }
 h5{
    position: relative;
    bottom: 2vh;
 }

 #searchBox{
  border: 1px solid white;
 }

 #topLogo{
    border: 1px solid white;
    display: grid;
    grid-template-columns: 2vw 2vw auto;
    grid-template-rows: 1vh;
    gap: 10px;
    
 }
 #bottomLogo{
    border: 2px solid white;
    display: grid;
    grid-template-columns: 3vw auto;
    
 }
 
 #navButtons{
    border: 1px solid white;
    
    
 }
 #buttonContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5vh;
    
     
 }
button{
    border-radius: 5%;
    background-color: #0096FF;
    color: #fff;
    margin: 10px;
    
}
input{
    width: 30vw;
    border-radius: 10px;
    background-color: burlywood;
}